<header class="post-info">
    <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
    {{ .Site.Data.l10n.article.posted_on }}
    <span class="post-meta"><time datetime="{{ .Date.Format "2006.01.02" }}">{{ .Date.Format "2006.01.02" }}</time>
        {{ if .Params.tags }}&middot; {{ .Site.Data.l10n.article.tagged_in }}
            {{ range $i, $v := .Params.tags }}
            <a href="{{ "/tags" | absURL }}/{{ $v | urlize }}">{{ $v | lower }}</a>{{ if ne (len $.Params.tags) (add $i 1) }}, {{ end }}
            {{ end }}
        {{ end }}
    </span>
</header>
