    <footer class="main-footer">
      <div class="container clearfix">
        <a href="{{ "/index.xml" | absURL }}" target="_blank" title="RSS" type="application/rss+xml"><i class="fa fa-rss fa-lg"></i></a>
        <p>
          &copy; {{ .Now.Format "2006" }} {{ .Site.Params.author }}<br/>
          {{ .Site.Params.license | markdownify }}<br/>
          {{ .Site.Params.powerby | markdownify }}
        </p>
      </div>
    </footer>

    {{ with .Site.Params.googleAnalytics }}
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ . }}', 'auto');
      ga('require', 'linkid');
      ga('send', 'pageview');
    </script>
    {{ end }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
