<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width">

    <!-- Site description -->
    {{ with .Description }}
      <meta name="description" content="{{ . }}">
    {{ end }}
    {{ if .IsHome }}
      <meta name="description" content="{{ .Site.Params.defaultDescription }}">
    {{ end }}
    {{ if .Params.tags }}
      <meta name="keywords" content="{{ delimit .Params.tags ", " }}">
    {{ end }}
    {{ if .IsHome }}
      <meta name="keywords" content="{{ .Site.Params.defaultKeywords }}">
    {{ end }}

    <!-- Webmaster tools verification -->
    {{ with .Site.Params.googleVerificationHash }}<meta name="google-site-verification" content="{{ . }}">{{ end }}
    {{ with .Site.Params.bingVerificationHash }}<meta name="msvalidate.01" content="{{ . }}">{{ end }}

    <title>{{ if not .IsHome }}{{ .Title }} &middot; {{ .Site.Title }}{{ else }}{{ .Site.Params.defaultTitle }}{{ end }}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700%7CLato:400,400i,700%7CSource+Code+Pro">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/css/normalize.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/styles.css" | relURL }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/solarized-dark.min.css">
    <link rel="stylesheet" href="{{ "/css/custom.css" | relURL }}">

    <!-- Canonical URL -->
    <link rel="canonical" href="{{ .Permalink }}">

    <!-- Icons -->
    <link rel="icon" href="{{ "/favicon.ico" | relURL }}">
    <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | relURL }}">

    <!-- RSS -->
    {{ if .RSSLink }}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
    {{ end }}

    <!-- Google authorship -->
    {{ with .Site.Params.googleAuthorship }}<link rel="publisher" href="https://plus.google.com/+{{ . }}">{{ end }}
  </head>
  <body>
    <header class="site-header">
      <div class="center-block">
        {{ if .IsPage }}
        <div class="site-title">
          <a href="{{ .Site.BaseURL }}">{{ .Site.Params.headerTitle }}</a>
        </div>
        {{ else }}
        <h1 class="site-title">{{ .Site.Params.headerTitle }}</h1>
        {{ end }}

        {{ if .Site.Menus.main }}
          <ul class="main-menu">
            {{ range .Site.Menus.main }}
              <li><a href="{{ .URL | absURL }}">{ {{ .Name }} }</a></li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </header>
